# Base frontend path
path: /api/content

# Authentication
# enabled - enable or disable authentication
# access_token - if true, extension will check X-Auth-Token header
auth:
  enabled: true
  access_token: __TOKEN__

